@font-face {
  font-family: "Product Sans";
  src: url("ProductSans-Italic.woff2") format("woff2"),
  url("ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("ProductSans-Bold.woff2") format("woff2"),
  url("ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("ProductSans-BoldItalic.woff2") format("woff2"),
  url("ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("ProductSans-Regular.woff2") format("woff2"),
  url("ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Product Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ccc;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1148px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Secttion Header */

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}

.section-text {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

/* Order Form Section  */

.white-text{
  color: #fff;
}

.order-section{
  padding: 56px 0;
  background-color: #00BAFC;
}

.services-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 348px;
  padding: 8px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.services-form input,
.services-form select{
  display: block;
  width: 300px;
  padding: 16px;
  margin: 16px 24px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 5px;
}

.services-form input::placeholder,
.services-form select,
.services-form option{
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
}

.submit-btn{
  display: block;
  width: 155px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #00BAFC;
  align-self: center;
  white-space: nowrap;
}

/* Site Footer */

.footer-headings{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px; 
  color: #FFFFFF;
}

.footer-pages-list,
.socials-list{
  padding: 0;
  margin: 0;
  margin-top: 12px;
  list-style-type: none;
  white-space: nowrap;
}

.footer-pages-item,
.socials-item{
margin: 4px 0;
}

.footer-pages-item a,
.socials-link{
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.footer-pages-item a:hover,
.socials-link:hover{
  color: #00BAFC;
}

.footer-pages-item a:active,
.socials-link:active{
  color: #00BAFC;
  opacity: 0.6;
}

.site-footer{
  padding: 56px 100px;
  background-color: #191919;
}

.site-footer-content{
  display: flex;
}

.copyright{
  width: 420px;
}

.copyright p{
  font-size: 16px;
  line-height: 24px; 
  color: #FFFFFF;
  margin: 0;
  margin-top: 16px;
  margin-right: 100px;
}

.footer-sitenav{
  width: 140px;
  margin-right: 100px;
}

.socials{
  width: 138px;
}

.socials-link{
  display: flex;
  align-items: center;
}

.socials-name{
  display: inline-block;
  margin-left: 8px;
}